.form {
  padding: 15px;
}

.serchButton {
  cursor: pointer;
  padding: 5px;
  width: 100px;
  height: 30px;
  margin-left: 10px;
  background-color: #e6d8d8;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: black;
}

.serchButton:hover,
.serchButton:focus {
  background-color: rgb(231, 189, 225);
}
