.moviePage {
  padding: 15px;
}

.button {
  margin-bottom: 10px;
  cursor: pointer;
}

.movieCard {
  display: flex;
}

.movieDescription {
  margin-left: 10px;
}

.additInfo {
  padding: 15px;
}

.link {
  display: block;
  padding: 5px;
  text-decoration: none;
}
